
/* fonts */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src:
      url('./assets/fonts/Poppins-Regular.woff') format('woff'),
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight:500;
    src:
      url('./assets/fonts/Poppins-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 700;
    src:
      url('./assets/fonts/Poppins-Bold.woff') format('woff');
  }


  @font-face {
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 600;
    src:
      url('./assets/fonts/Poppins-SemiBold.woff') format('woff');
  }

  body{
    font-family: "Poppins";
  }